<br>

# Como Usar?

Abaixo são apresentados exemplos de utilização do pacote.

Inicialmente importamos o pacote `ufesp`, e também o `datetime` que será utilizado.

In [16]:
from datetime import datetime

import ufesp

<br>

É possível obter o valor da _ufesp_, além de outras informações, para uma determinada data. Lembrando que a _ufesp_ tem variação anual, ou seja, temos um valor de _ufesp_ por ano.

In [17]:
ufesp.get_ufesp_from_date(date='2025-04-02')

{'data_inicio': Timestamp('2025-01-01 00:00:00'),
 'data_fim': Timestamp('2025-12-31 00:00:00'),
 'ano_mes': '2025-01',
 'valor': 37.02,
 'base_legal': 'Comunicado DICAR-88/24, de 17-12-2024'}

<br>

É possível pesquisar usando uma data em formato `string`, no padrão `YYYY-MM-DD`, ou também pesquisar usarno um formato `datetime`.

In [18]:
minha_data = datetime.strptime('2025-04-02', r'%Y-%m-%d')
print(type(minha_data))

# Results
ufesp.get_ufesp_from_date(date=minha_data)

<class 'datetime.datetime'>

{'data_inicio': Timestamp('2025-01-01 00:00:00'),
 'data_fim': Timestamp('2025-12-31 00:00:00'),
 'ano_mes': '2025-01',
 'valor': 37.02,
 'base_legal': 'Comunicado DICAR-88/24, de 17-12-2024'}

<br>

Também é possível pesquisar o valor da _ufesp_ com o ano.

In [22]:
dados = ufesp.get_ufesp_from_year(year=2025)
dados

{'data_inicio': Timestamp('2025-01-01 00:00:00'),
 'data_fim': Timestamp('2025-12-31 00:00:00'),
 'ano_mes': '2025-01',
 'valor': 37.02,
 'base_legal': 'Comunicado DICAR-88/24, de 17-12-2024',
 'data_inicio_year': 2025,
 'data_fim_year': 2025}

<br>

Além desses métodos acima demonstrados, para obter os dados a partir de uma data ou ano, existem outros dois métodos para buscar a tabela inteira ou para atualizar a tabela.

In [20]:
df = ufesp.get_table()
df.head()

,data_inicio,data_fim,ano_mes,valor,base_legal
0,2026-01-01,2026-12-31,2026-01,38.42,"Comunicado DICAR-88/25, de 17-12-2025"
1,2025-01-01,2025-12-31,2025-01,37.02,"Comunicado DICAR-88/24, de 17-12-2024"
2,2024-01-01,2024-12-31,2024-01,35.36,"Comunicado DICAR-93/23, de 19-12-2023"
3,2023-01-01,2023-12-31,2023-01,34.26,"Comunicado DICAR-90/22, de 19-12-2022"
4,2022-01-01,2022-12-31,2022-01,31.97,"Comunicado DICAR-89/21, de 17-12-2021"

In [21]:
df = ufesp.update_table()
df.head()

,data_inicio,data_fim,ano_mes,valor,base_legal
0,2026-01-01,2026-12-31,2026-01,38.42,"Comunicado DICAR-88/25, de 17-12-2025"
1,2025-01-01,2025-12-31,2025-01,37.02,"Comunicado DICAR-88/24, de 17-12-2024"
2,2024-01-01,2024-12-31,2024-01,35.36,"Comunicado DICAR-93/23, de 19-12-2023"
3,2023-01-01,2023-12-31,2023-01,34.26,"Comunicado DICAR-90/22, de 19-12-2022"
4,2022-01-01,2022-12-31,2022-01,31.97,"Comunicado DICAR-89/21, de 17-12-2021"