In [1]:
import pandas as pd
import os
import yaml
pd.set_option('display.max_columns', None)

# Move to the path below
os.chdir('..')
os.getcwd()

'/mnt/batch/tasks/shared/LS_root/mounts/clusters/djrtestcompute/code/Users/damian.rumble/data_store_tools'

In [2]:
'''
import requests
import pandas as pd
import os
import io
import re
from typing import List, Dict
from datetime import datetime
from itertools import product
import requests
from tqdm import tqdm
import logging

import tempfile
from io import StringIO
from azure.storage.blob import BlobServiceClient
from azure.storage.filedatalake import DataLakeServiceClient
from azure.identity import DefaultAzureCredential
from azureml.core import Workspace, Datastore, Dataset

from deltalake import write_deltalake, DeltaTable
from azure.storage.filedatalake import DataLakeServiceClient
import pyarrow as pa

from openai import AzureOpenAI
'''

'\nimport requests\nimport pandas as pd\nimport os\nimport io\nimport re\nfrom typing import List, Dict\nfrom datetime import datetime\nfrom itertools import product\nimport requests\nfrom tqdm import tqdm\nimport logging\n\nimport tempfile\nfrom io import StringIO\nfrom azure.storage.blob import BlobServiceClient\nfrom azure.storage.filedatalake import DataLakeServiceClient\nfrom azure.identity import DefaultAzureCredential\nfrom azureml.core import Workspace, Datastore, Dataset\n\nfrom deltalake import write_deltalake, DeltaTable\nfrom azure.storage.filedatalake import DataLakeServiceClient\nimport pyarrow as pa\n\nfrom openai import AzureOpenAI\n'

In [ ]:
from scr.tools.load_env import load_env_file
from scr.tools.utils import setup_logger,load_config

# Load configs
config = load_config("master_config.yaml")

# master configs
bronze_lakehouse_name = config['datastore']['lakehouses'][0]
silver_lakehouse_name = config['datastore']['lakehouses'][1]
status = config['datastore']['status']

In [ ]:

from scr.fabric_tools import FabricTools
fabric_tools = FabricTools('data_store_tools_dev','Lab')

2026-01-29 17:45:39,138 - INFO - No environment configuration found.
2026-01-29 17:45:39,141 - INFO - ManagedIdentityCredential will use Azure ML managed identity
2026-01-29 17:45:39,146 - INFO - DefaultAzureCredential acquired a token from ManagedIdentityCredential
2026-01-29 17:45:39,148 - INFO - AzureMLCredential.get_token_info succeeded
2026-01-29 17:45:39,149 - INFO - ManagedIdentityCredential.get_token_info succeeded
2026-01-29 17:45:39,149 - INFO - DefaultAzureCredential acquired a token from ManagedIdentityCredential

Found 4 accessible lakehouses:

Name: Diageo
Last Modified: 2025-07-18 11:22:19+00:00
--------------------------------------------------
Name: MSQ
Last Modified: 2026-01-15 12:57:55+00:00
--------------------------------------------------
Name: Haleon
Last Modified: 2026-01-20 09:12:26+00:00
--------------------------------------------------
Name: Lab
Last Modified: 2026-01-19 16:03:25+00:00
--------------------------------------------------
Operating in the Lab workspace

In [5]:
import pandas as pd
import numpy as np

# Create random DataFrame with numeric data
df = pd.DataFrame(
    np.random.rand(100, 7),
    columns=['col1', 'col2', 'col3', 'col4', 'col5', 'col6', 'col7']
)

print(df.head())
print(f"\nShape: {df.shape}")

       col1      col2      col3      col4      col5      col6      col7
0  0.590274  0.329276  0.835209  0.233381  0.547167  0.904113  0.363509
1  0.678630  0.892509  0.627872  0.645091  0.908720  0.658519  0.677269
2  0.873674  0.757766  0.704133  0.421575  0.591325  0.119333  0.404727
3  0.649443  0.027651  0.400950  0.731694  0.277393  0.702387  0.720838
4  0.295126  0.811810  0.194367  0.115599  0.698012  0.743806  0.312231

Shape: (100, 7)

In [6]:
fabric_tools.list_accessible_lakehouses()

Found 4 accessible lakehouses:

Name: Diageo
Last Modified: 2025-07-18 11:22:19+00:00
--------------------------------------------------
Name: MSQ
Last Modified: 2026-01-15 12:57:55+00:00
--------------------------------------------------
Name: Haleon
Last Modified: 2026-01-20 09:12:26+00:00
--------------------------------------------------
Name: Lab
Last Modified: 2026-01-19 16:03:25+00:00
--------------------------------------------------

([{'name': 'Diageo',
   'last_modified': datetime.datetime(2025, 7, 18, 11, 22, 19, tzinfo=datetime.timezone.utc),
   'metadata': {'RegionalServiceEndpoint': 'https://uksouth-api.onelake.fabric.microsoft.com',
    'WorkspaceObjectId': '5db4ff58-67b2-47c7-b0d2-c0df3d41090c',
    'WorkspacePortalUrl': 'https://app.fabric.microsoft.com/groups/5db4ff58-67b2-47c7-b0d2-c0df3d41090c'}},
  {'name': 'MSQ',
   'last_modified': datetime.datetime(2026, 1, 15, 12, 57, 55, tzinfo=datetime.timezone.utc),
   'metadata': {'RegionalServiceEndpoint': 'https://uksouth-api.onelake.fabric.microsoft.com',
    'WorkspaceObjectId': 'a1a42f60-d366-4440-a93d-74fc95c28746',
    'WorkspacePortalUrl': 'https://app.fabric.microsoft.com/groups/a1a42f60-d366-4440-a93d-74fc95c28746'}},
  {'name': 'Haleon',
   'last_modified': datetime.datetime(2026, 1, 20, 9, 12, 26, tzinfo=datetime.timezone.utc),
   'metadata': {'RegionalServiceEndpoint': 'https://uksouth-api.onelake.fabric.microsoft.com',
    'WorkspaceObjectId': '1425f1f0-b281-49b7-92a5-2a97f01a7c0d',
    'WorkspacePortalUrl': 'https://app.fabric.microsoft.com/groups/1425f1f0-b281-49b7-92a5-2a97f01a7c0d'}},
  {'name': 'Lab',
   'last_modified': datetime.datetime(2026, 1, 19, 16, 3, 25, tzinfo=datetime.timezone.utc),
   'metadata': {'RegionalServiceEndpoint': 'https://uksouth-api.onelake.fabric.microsoft.com',
    'WorkspaceObjectId': '99435ce3-2743-4ea7-a81c-e0244c0d1446',
    'WorkspacePortalUrl': 'https://app.fabric.microsoft.com/groups/99435ce3-2743-4ea7-a81c-e0244c0d1446'}}],
 ['Diageo', 'MSQ', 'Haleon', 'Lab'])

In [7]:
bronze_lakehouse_name

'bronze'

In [10]:

lakehouse = 'sandbox'
data_subcat = 'test_data'
data_contents = 'random_numbers'

lakehouse, table_name = fabric_tools.create_datastore_table_name(lakehouse, data_subcat, data_contents)
table_name

'test_data_random_numbers'

In [11]:
fabric_tools.load_table_to_lakehouse(df)

2026-01-29 17:46:23,527 - INFO - Successful conversion of dataframe into delta format
2026-01-29 17:46:23,559 - INFO - Create new table: sandbox.lakehouse/Tables/dbo/test_data_random_numbers

saving to: abfss://Lab@onelake.dfs.fabric.microsoft.com/sandbox.lakehouse/Tables/dbo/test_data_random_numbers
table sandbox.Lakehouse/Tables/dbo/test_data_random_numbers exists: False
Creating new table

2026-01-29 17:46:25,714 - INFO - ✓ Delta table created successfully with 100 rows

In [12]:
fabric_tools.check_a_datastore_table_exists(lakehouse, table_name)

table sandbox.Lakehouse/Tables/dbo/test_data_random_numbers exists: True

True

In [13]:
fabric_tools.list_tables_in_lakehouse(lakehouse)

['dbo', 'test_data_random_numbers', 'test_data_random_numbers_3']

In [14]:
df_read = fabric_tools.read_table_from_lakehouse(lakehouse, table_name)
df_read

table sandbox.Lakehouse/Tables/dbo/test_data_random_numbers exists: True
reading from: abfss://Lab@onelake.dfs.fabric.microsoft.com/sandbox.lakehouse/Tables/dbo/test_data_random_numbers

2026-01-29 17:46:34,441 - INFO - Successfully read table from abfss://Lab@onelake.dfs.fabric.microsoft.com/sandbox.lakehouse/Tables/dbo/test_data_random_numbers

,col1,col2,col3,col4,col5,col6,col7,load_date,load_dttm
0,0.590274,0.329276,0.835209,0.233381,0.547167,0.904113,0.363509,20260129,2026-01-29 17:46:23.525770
1,0.678630,0.892509,0.627872,0.645091,0.908720,0.658519,0.677269,20260129,2026-01-29 17:46:23.525770
2,0.873674,0.757766,0.704133,0.421575,0.591325,0.119333,0.404727,20260129,2026-01-29 17:46:23.525770
3,0.649443,0.027651,0.400950,0.731694,0.277393,0.702387,0.720838,20260129,2026-01-29 17:46:23.525770
4,0.295126,0.811810,0.194367,0.115599,0.698012,0.743806,0.312231,20260129,2026-01-29 17:46:23.525770
...,...,...,...,...,...,...,...,...,...
95,0.964532,0.752363,0.101627,0.145160,0.511281,0.348809,0.325331,20260129,2026-01-29 17:46:23.525770
96,0.793992,0.783894,0.840247,0.348962,0.781106,0.469448,0.427305,20260129,2026-01-29 17:46:23.525770
97,0.926249,0.361136,0.602360,0.641077,0.538494,0.023673,0.881626,20260129,2026-01-29 17:46:23.525770
98,0.716058,0.157836,0.479275,0.907597,0.866419,0.433488,0.552474,20260129,2026-01-29 17:46:23.525770
99,0.180793,0.976143,0.778061,0.868903,0.313557,0.885832,0.099956,20260129,2026-01-29 17:46:23.525770

In [15]:
df_read.load_dttm.value_counts()

load_dttm
2026-01-29 17:46:23.525770    100
Name: count, dtype: int64

In [16]:
fabric_tools.delete_table(lakehouse, 'test_data_random_numbers_3')

table sandbox.Lakehouse/Tables/dbo/test_data_random_numbers_3 exists: True
Deleting table: sandbox.Lakehouse/Tables/dbo/test_data_random_numbers_3
✓ Successfully deleted table 'test_data_random_numbers_3'

True

In [17]:
fabric_tools.list_tables_in_lakehouse(lakehouse)

['dbo', 'test_data_random_numbers']

In [18]:
fabric_tools.check_a_datastore_table_exists(lakehouse, table_name)

table sandbox.Lakehouse/Tables/dbo/test_data_random_numbers exists: True

True

In [ ]:
fabric_tools.delete_table(lakehouse, table_name, confirm='yes')

table sandbox.Lakehouse/Tables/dbo/test_data_random_numbers exists: False
✗ Table 'test_data_random_numbers' does not exist in lakehouse 'sandbox'

False

In [19]:
fabric_tools.list_tables_in_lakehouse(lakehouse)

['dbo', 'test_data_random_numbers']