In [5]:
from PTJPLSM import load_ECOv002_static_tower_PTJPLSM_inputs
from BESS_JPL import load_ECOv002_static_tower_BESS_inputs

In [2]:
PTJPLSM_df = load_ECOv002_static_tower_PTJPLSM_inputs()
PTJPLSM_df.head()

       ID  ...                  geometry
0  US-NC3  ...    POINT (-76.656 35.799)
1  PE-QFR  ...   POINT (-73.319 -3.8344)
2  US-Mi3  ...   POINT (-80.637 41.8222)
3  US-NC4  ...  POINT (-75.9038 35.7879)
4  CA-DB2  ...  POINT (-122.9951 49.119)

[5 rows x 8 columns]

In [6]:
BESS_df = load_ECOv002_static_tower_BESS_inputs()
BESS_df.head()

       ID  ...                  geometry
0  US-NC3  ...    POINT (-76.656 35.799)
1  PE-QFR  ...   POINT (-73.319 -3.8344)
2  US-Mi3  ...   POINT (-80.637 41.8222)
3  US-NC4  ...  POINT (-75.9038 35.7879)
4  CA-DB2  ...  POINT (-122.9951 49.119)

[5 rows x 22 columns]